
.bght{
    background-color:rgba(141, 114, 160, 0.925) ;
    border-color: rgba(192, 168, 230, 0.911);
    
}

.bmr{
    background-color: blueviolet;
    border-color: rgb(202, 170, 231);
}



